<h1>Listing universes</h1>

<table>
  <tr>
    <th>Name</th>
		<th>Words</th>
  </tr>

<% @universes.each do |universe| %>
  <tr>
    <td><%= link_to universe.name, universe.address %></td>
		<td><%= universe.count %>
  </tr>
<% end %>
</table>
